version: "3.8"
services:
  dev-postgres:
    image: postgres:15.1-alpine
    ports:
      - 5436:5432
    environment:
      POSTGRES_USER: Logbook
      POSTGRES_PASSWORD: Logbook
      POSTGRES_DB: Logbook
    restart: always
    networks:
      - lesson
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    volumes:
      - "./data/redis:/data"
    restart: always
    networks:
      - lesson
networks:
  lesson:
